
 body{
    background-color: rgb(0, 255, 255);
}
/* ---------------------------------------------left part--------------------------------------- */
.left_text{
    padding: 100px;
    color: rgb(84, 224, 224);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;

}
.barcord{
margin-left: -30px;
}
.logo{
    display: left;
    color: orangered;
    top :0%;
}
.text_box
{
  font-family:Georgia, 'Times New Roman', Times, serif;
margin-left:-30px;
margin-top: -40px;
    
    
    
}
.the{
    box-sizing: border-box; 
    background-color: orangered; 
    color:white;
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
}
.wallet{
    box-sizing: border-box; 
    background-color: orangered; 
    color:white;
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
}
.bank{
    box-sizing: border-box; 
    background-color: orangered; 
    color:white;
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
}



/* ---------------------------------middle img----------------------------------- */
.phone_img{
    /* margin-top: -100rem; */
    /* margin-right: -30px; */
    margin-left: -20rem;
}
/* --------------------------------------Right part-------------------------------- */
.orange_box{
    box-sizing: border-box;
    background-color: rgb(252, 111, 59);
    position: left;
    height: auto;
    top:0%;
    border-radius: 5px;
    padding: 50px;
    
}

.menulogo{
    text-align: right;
    color: white;
    margin-right: 50px;
    

}
.text{
    font-size: 100px;
    font-family:fantasy;
    color:white;
    text-shadow: 5px 5px red;
    margin-left: 100px;
    top:0%;
}
.main_text{
    margin-top: -50rem;
}
.info_list{
    margin-left: 100px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.btn{
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-left: 2rem;
    /* margin-left: 20rem; */
}
/* ----------------------------------------------------second part start------------------------------------ */


.text_second{
    text-align: center;
}
.complet_final{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.need{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.orangetext{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
}
/* -----------------------------------------------------------Third part------------------------------------------------ */
.img1{
    align-items: center;
}
.first{  
    padding: 20px;
    padding-top:20px;
    background-color: rgb(199, 237, 237);
    text-align: center;
   
}
.payment{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pay_text{
    font-family: 'Abel';
    font-size:15px;
    font-weight:bold;
    color: black;
}
/* ------second---- */
.second{
    padding: 35px;
    padding-top:20px;
    background-color: rgb(199, 237, 237);
    text-align: center;
    color: orangered;

}
.high_sec{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
    color: black;

}
.third{
    /* padding: 35px; */
    /* padding-top:20px; */
    background-color: rgb(199, 237, 237);
    text-align: center;

}
.digital{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
/* -----------------------------------------------------------FOURTH PART------------------------------------------------ */
.finance_text{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-weight: bold; */
}
.digitalize{
    color: orangered;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* .for_text{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

} */
.Lorem_text{
    font-family: 'Abel';

}
.orange_circle{
    box-sizing: border-box;
    background-color: orangered;
    height: 40rem;
    width: 40rem;
    border-radius: 50rem;
    align-items: center;
    margin-left: 100px;
}
.l_more{
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5px;
}
.bordar{
    border: 10px;
    background-color: orangered; 
    height: 10px;
     width: 80px;
     margin-top: -10px;

}
   
  /* img {
	transform: rotate(-40deg)
    

}   */
.img_rotet{
    
    margin-left: 48px;
    margin-top: -122px;
    /* box-shadow: 0px 0px 5px 12px black; */
    /* opacity: 0.5px; */
}
/* ---------------------------------------------------Fifth part---------------------------------------------------- */
.arrow
{
    
    color: orangered;
    margin-top: -23rem;
    margin-left: 28rem;
}
.text5{
    margin-left: 50px;
    padding: 50px;
}
.commi{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.exp{
    color: orangered; 
}


/* ----------------------------------------------------------Sixth part---------------------------------------------- */
.text6{
    text-align: center;
    background-color: rgb(164, 216, 216);
    box-sizing: border-box;
    height: auto;
}
.our_latest{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text_feature{
    color: orangered;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
.water{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: #0daeee;
    color: white;
    align-items: center;
    padding: 10px;
}
.lamp{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: orange;
    color: white;
    align-items: center;
    padding: 10px;
}
.gas{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color:red;
    color: white;
    align-items: center;
    padding: 10px;

}
.shopping{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color:rgb(235, 5, 108);
    color: white;
    align-items: center;
    padding: 10px;


}
.mobile{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color:darkblue;
    color: white;
    align-items: center;
    padding: 10px;
}
.card{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color:#008055;
    color: white;
    align-items: center;
    padding: 10px;

}
.insurance{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    
    background-color: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    color: white;
    align-items: center;
    padding: 10px;

}
.home{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    
    background: #8E2DE2;  
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
background: linear-gradient(to right, #4A00E0, #8E2DE2); 

    
    color: white;
    align-items: center;
    padding: 10px;



}
.bill{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    align-items: center;
    padding: 10px;

}
.btn2{
    box-sizing: border-box;
    border-radius: 10px;
    height: 20px;
    width: 12rem;
    background-color: orangered;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    /* margin-left: 2rem; */
    align-items: center;
    margin-left: 38rem;
}

/* -------------------------------------SEVEN PART------------------------------- */

.text7{
    margin-left: 50px;
}

.text_7{
    margin-left: 50px;
}
.register{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.m_app{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
}
.download{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}
.scan{
    margin-left: 65px;
    margin-top: -135px;
}
.scann_bordar{
    box-sizing: border-box;
    background-color: white;
    height: 15rem;
    width: 15rem;
    margin-left: 50px;

}
.down_circle{
    box-sizing: border-box;
    height: 7rem;
    width: 25rem;
    background-color: black;
    color: white;
    margin-left: 20rem;
    border-radius: 10px;
    margin-top: -11rem;
}
.circle1{
    margin-left: 20px;
    margin-top: 10px;
}
.fillcircle{
    margin-top: 10px;
}
.text_download{
    margin-left: 50px;
    margin-top: -40px;
}
.playstore{
    box-sizing: border-box;
    height: 7rem;
    width: 25rem;
    background-color: black;
    color: white;
    margin-left: 0rem;
    border-radius: 10px;
    /* margin-top: -11rem; */

}
.twoline{
    margin-left: 50px;
    margin-top: -15rem;
}
.fillarrow{
    margin-top: 10px;
    margin-left: 10px;
    
}
.text_play{
    margin-left: 60px;
    margin-top: -55px;
}

.phoneimg{
    align-items:center;
    box-sizing: border-box;
    /* background-color: orangered;
    box-shadow: 5px orangered; */

}
/* -----------------------------------------------------------------  FOOTER PART  -------------------------------------------------------------------------------- */
.footerpart{
    background-color: rgb(164, 216, 216);
    height: auto;

}
.footerleft{
    margin-left: 50px;
}
.navmenu{
    font-family: 'Abel';
    text-align: right;
    /* margin-top: -10px; */
    top:0%
}
.navigationmenu{
    margin-top: -50px;
}
.copiright{
    font-family: 'Abel';
     text-align: center;
     justify-content: center;
}

/* -----------------------------------SOCIAL ICON------------------------------------- */
.instragram{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: black;
    color:  rgb(199, 237, 237);
    align-items: center;
    padding: 10px;
}
.facbook{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: black;
    color:  rgb(199, 237, 237);
    align-items: center;
    padding: 10px;
}

.twitter{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: black;
    color:  rgb(199, 237, 237);
    align-items: center;
    padding: 10px;
    
}
.whatsapp{
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: black;
    color:  rgb(199, 237, 237);
    align-items: center;
    padding: 10px;

}

/* ------------------------------------------------------------------Media Query------------------------------------------------ */

@media only screen and (max-width: 1199px) {
    
    .text{
        font-size: 40px;
       
    }
    .our_latest{
        font-size: 20px;
    }
    .text_feature{
        
        font-size: 20px;
       
    }
    .text6{
    
        background-color: rgb(164, 216, 216);
        width: 100%;
        height: auto;
    }
    
    
}